{% extends 'base.html.twig' %}


{% block navbar %} 
    {{ parent() }}
{% endblock  %} 

{% block body %}
<style>
h1{
    padding: 3%;
    font-size: 1.35em;
}

img{
    padding: 2%;
    object-position: center;
    height:256px;
    width:360px;
}

.text-center{
    margin-left: 3%; 
    margin-right: 3%;
}

</style>
<main role="main">
</main>
<div class="text-center">
  {% if is_granted('ROLE_USER') %}
  <a href="../salle"><button type="button" class="btn btn-outline col-md-2 " style="border-color: #DDDDDD; color: #DDDDDD;margin-top: 2em ;margin-bottom: 2em"> Jouer</button>
  </a>
  {% else %}
  <a href="../login"><button type="button" class="btn btn-outline col-md-2 " style="border-color: #DDDDDD; color: #DDDDDD;margin-top: 2em ;margin-bottom: 2em"> Se connecter pour jouer</button>
  </a>
  {% endif %}

</div>
<div class="row mt-3 text-center" style="background: #333333;">          
        {% for article in articles %}
        <div class="col col-md-4" >
          <div class="col-md-12 container rounded" style="margin-bottom: 3%; margin-top: 3%;background: #DDDDDD;">
            <a href="{{ path('article_show', {"id": article.id}) }}">
                <h1>{{ article.title }} </h1>
            </a>
            <img src={{article.image}}/>
            <div class="btn-group"style="margin: 2%;">
          </div>
          </div>
        </div>           
        {% endfor %}

  
</div>

<div class="text-center">
  <a href="../article"><button type="button" class="btn btn-outline col-md-2 " style="border-color: #DDDDDD; color: #DDDDDD;margin-top: 2em ;margin-bottom: 2em"> Consulter plus d'articles</button>
  </a>

</div>

{% endblock %}
