<div class="form-group">
    {{ form_label(form.theme) }}
    {{ form_widget(form.theme) }}
</div>
<div class="form-group">
    {{ form_label(form.difficulte) }}
    {{ form_widget(form.difficulte) }}
</div>