{% extends 'base.html.twig' %}

{% block title %}Edit Test{% endblock %}

{% block body %}
    <h1>Edit bob</h1>

    {{ include('test_controler/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('test_controler_index') }}">back to list</a>

    {{ include('test_controler/_delete_form.html.twig') }}
{% endblock %}
